---
layout: page
title: Javascript
permalink: /javascript/
---

<h1 class="page-heading">JS Posts</h1>

{% for post in site.categories.javascript %}
  {% include mixin/excerpt %}
{% endfor %}

{% for page in site.categories %}
  {{page[0]}}
  <!-- <a href="{{ page.url }}">{{ page.title }}</a> -->
  <ul>
    {% assign group = "haha" %}
    {% assign pages_list = page %}
    {% include mixin/pages_list %}
  </ul>

{% endfor %}

<div class="tag-groups">
  {% for tag in site.tags %}
    <span class="tag">{{ tag[0] }}</span>
  {% endfor %}
</div>

<div id="disqus_thread"></div>

