
$nav-item-color: #637c84;
$nav-item-active: #ee82ee;

.post-navigator {
  display: none;

  > .nav {
    width: 285px;
    background: #FFF;
    padding: 6px 0 6px 15px;

    &.fixed {
      position: fixed;
      top: 0px;
    }
  }

  // li {
  //   > ul {
  //     display: none;
  //   }
  //   &.active {
  //     > ul {
  //       display: block;
  //     }
  //   }
  // }

  // .active > ul > li:first-child > a,
  .active > a {
    color: $nav-item-active;
  }


  ul {
    list-style: none;

    margin-left: 0;
  }

  li > ul {
    padding-left: 20px;
  }

  a {
    color: $nav-item-color;
    &:hover {
      text-decoration: none;
      color: $nav-item-active;
    }
  }
}

@media (min-width: $screen-md-min) {
  .post-navigator {
    display: block;
  }
}
