
code {
    background: #F8F5EC;
    padding: 2px 7px;
    color: #E06A6A;
    border-radius: 4px;
}

.highlight {
    color: #333333;
    background: #f8f5ec;
    position: relative;
    margin-bottom: 14px;
    padding: 28px 14px 5px;
    border: none;
    border-radius: 2px;
    overflow: auto;
    font-size: 15px;

    pre code {
      color: #637c84;
      /* Respect line-height defined in <code> styles above */
      display: block;

      /* Cancel out styles for `li code` in case we have a <pre> within an <li>. */
      background: none;
      padding: 0;
    }


    /* Literal.String.Other */

    .hll {
      background-color: #f7ebc6;
      border-left: 5px solid #f7d87c;
      display: block;
      margin-left: -14px;
      margin-right: -14px;
      padding-left: 9px;
    }

    /* CodeMirror doesn't support <jsx> syntax. Instead of highlighting it
       as error, just ignore it */
    .javascript .err {
      background-color: transparent;
      color: inherit;
    }


    pre {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      background-color: transparent;
      border: 0;
    }

    pre .lineno {
      display: inline-block;
      width: 22px;
      padding-right: 5px;
      margin-right: 10px;
      color: #bebec5;
      text-align: right;
    }

    .c {
      color: #93a1a1;
    }


    .g {
      color: #637c84;
    }

    /* Generic */

    .k {
      color: #859900;
    }

    /* Keyword */

    .l {
      color: #637c84;
    }

    /* Literal */

    .n {
      color: #637c84;
    }

    /* Name */

    .o {
      color: #859900;
    }

    /* Operator */

    .x {
      color: #cc7a6f;
    }

    /* Other */

    .p {
      color: #637c84;
    }

    /* Punctuation */

    .cm {
      color: #93a1a1;
    }

    /* Comment.Multiline */

    .cp {
      color: #859900;
    }

    /* Comment.Preproc */

    .c1 {
      color: #93a1a1;
    }

    /* Comment.Single */

    .cs {
      color: #859900;
    }

    /* Comment.Special */

    .gd {
      color: #36958e;
    }

    /* Generic.Deleted */

    .ge {
      font-style: italic;
      color: #637c84;
    }

    /* Generic.Emph */

    .gr {
      color: #dc322f;
    }

    /* Generic.Error */

    .gh {
      color: #cc7a6f;
    }

    /* Generic.Heading */

    .gi {
      color: #859900;
    }

    /* Generic.Inserted */

    .go {
      color: #637c84;
    }

    /* Generic.Output */

    .gp {
      color: #637c84;
    }

    /* Generic.Prompt */

    .gs {
      font-weight: bold;
      color: #637c84;
    }

    /* Generic.Strong */

    .gu {
      color: #cc7a6f;
    }

    /* Generic.Subheading */

    .gt {
      color: #637c84;
    }

    /* Generic.Traceback */

    .kc {
      color: #cc7a6f;
    }

    /* Keyword.Constant */

    .kd {
      color: #268bd2;
    }

    /* Keyword.Declaration */

    .kn {
      color: #859900;
    }

    /* Keyword.Namespace */

    .kp {
      color: #859900;
    }

    /* Keyword.Pseudo */

    .kr {
      color: #268bd2;
    }

    /* Keyword.Reserved */

    .kt {
      color: #dc322f;
    }

    /* Keyword.Type */

    .ld {
      color: #637c84;
    }

    /* Literal.Date */

    .m {
      color: #36958e;
    }

    /* Literal.Number */

    .s {
      color: #36958e;
    }

    /* Literal.String */

    .na {
      color: #637c84;
    }

    /* Name.Attribute */

    .nb {
      color: #b58900;
    }

    /* Name.Builtin */

    .nc {
      color: #268bd2;
    }

    /* Name.Class */

    .no {
      color: #cc7a6f;
    }

    /* Name.Constant */

    .nd {
      color: #268bd2;
    }

    /* Name.Decorator */

    .ni {
      color: #cc7a6f;
    }

    /* Name.Entity */

    .ne {
      color: #cc7a6f;
    }

    /* Name.Exception */

    .nf {
      color: #268bd2;
    }

    /* Name.Function */

    .nl {
      color: #637c84;
    }

    /* Name.Label */

    .nn {
      color: #637c84;
    }

    /* Name.Namespace */

    .nx {
      color: #637c84;
    }

    /* Name.Other */

    .py {
      color: #637c84;
    }

    /* Name.Property */

    .nt {
      color: #268bd2;
    }

    /* Name.Tag */

    .nv {
      color: #268bd2;
    }

    /* Name.Variable */

    .ow {
      color: #859900;
    }

    /* Operator.Word */

    .w {
      color: #637c84;
    }

    /* Text.Whitespace */

    .mf {
      color: #36958e;
    }

    /* Literal.Number.Float */

    .mh {
      color: #36958e;
    }

    /* Literal.Number.Hex */

    .mi {
      color: #36958e;
    }

    /* Literal.Number.Integer */

    .mo {
      color: #36958e;
    }

    /* Literal.Number.Oct */

    .sb {
      color: #93a1a1;
    }

    /* Literal.String.Backtick */

    .sc {
      color: #36958e;
    }

    /* Literal.String.Char */

    .sd {
      color: #637c84;
    }

    /* Literal.String.Doc */

    .s2 {
      color: #36958e;
    }

    /* Literal.String.Double */

    .se {
      color: #cc7a6f;
    }

    /* Literal.String.Escape */

    .sh {
      color: #637c84;
    }

    /* Literal.String.Heredoc */

    .si {
      color: #36958e;
    }

    /* Literal.String.Interpol */

    .sx {
      color: #36958e;
    }


    .sr {
      color: #dc322f;
    }

    /* Literal.String.Regex */

    .s1 {
      color: #36958e;
    }

    /* Literal.String.Single */

    .ss {
      color: #36958e;
    }

    /* Literal.String.Symbol */

    .bp {
      color: #268bd2;
    }

    /* Name.Builtin.Pseudo */

    .vc {
      color: #268bd2;
    }

    /* Name.Variable.Class */

    .vg {
      color: #268bd2;
    }

    /* Name.Variable.Global */

    .vi {
      color: #268bd2;
    }

    /* Name.Variable.Instance */

    .il {
      color: #36958e;
    }

    /* Echo out a label for the example */

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 3px 7px;
      font-size: 12px;
      font-weight: bold;
      color: #8B8B8B;
      background-color: #f1ede4;
      content: ">_";
    }
}


