// Colors
// -------------------------
$text-color: #424242;
$link-color: #2378cb;
$header-color: #adadad;

// Dimensions
// -------------------------
$border-radius: 4px;


// Animation
// -------------------------

$transition: 400ms;
